[Main]
# The continuity file saves last check dates and last tracked element values. Optional, defaults to ./sitemon.json
СontinuityFile = ./sitemon.json

# The report file is like a log file but just for the updates. Contains Pages (see below) and timestamps in the ISO-8601 format. Put "nul" to skip. Optional, defaults to ./sitemon.report.txt
ReportFile = ./sitemon.report.txt

# This specifies the amount of retries whilst loading a page. Optional, defaults to 3
# Put -1 for infinite retries. 
Retries = 3

# Optional, defaults to Microsoft Edge Version 101.0.1210.53 win-x64 official
UserAgent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.53
#ini chapter names here, also used throughout the script's output.
Pages = deflemask, python


[deflemask]
# Use the most common, short URL. Won't work with passworded pages.
URL = https://deflemask.itch.io/windows

# Render the page via loading JS? Takes time and 140M of disk space but might be required for your page. Optional, defaults to no.
JS = no

# The usual Referer header. Optional, defaults to an empty string.
Referer = 

#Verify the secure connection for issues. Optional, defaults to no.
VerifySSL = no

#Types can be "xpath" or "regex".
# - With xpath, the element is directly compared to its older version.
# - With regex, what's stored is the amount of hits on the page, and the change is monitored.
Type = xpath
# If in doubt, try to "Copy full Xpath" in your browser's Inspector, paste here. But normally, there are better ways.
# in this case, this should track the DeFleMask for Windows' version
Search = //div[contains(@class,'upload_name')]
# Frequency, to avoid badgering the sites too much, even if you loop the script every second.
# In minutes (integer), <=0 for never.
# 60 is 1 h, 1440 is 1 d, 10080 is 1 w
Frequency = 1

[python]
URL = https://www.python.org/downloads/
JS = no
Referer = https://www.python.org/
IgnoreSSLIssues = no
Type = regex
Search = Download Python 3\.\d*\.\d*
Frequency = 10000
